/* HEADER STYLE */

.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    /* background-color: sandybrown; */
    line-height: 3.5rem;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
    align-items: stretch;
}

.logo {
    max-height: 3.5rem;
}

.sidebar-header {
    flex: 0 0 14rem;
}

.body-header {
    background-color: #f3f3f3;
    width: calc(100% - 14rem);
}

.search-area {
    background-color: #dcdcdc;
    padding: .3rem .6rem;
    border-radius: 2rem;
}

.search-input {
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
    margin: 0 .6rem;
}

.card-logo{
    max-width: 80px;
    border-radius: 4px;
}

.header-notification{
    position: absolute;
    left: 0;
    margin-top: .2rem;
    width: 16rem;
    background-color: white;
    color: #000000;
    display: none;
}

.header-comment{
    position: absolute;
    width: 18rem;
    height: 100vh;
    /* left: 0; */
    background-color: #FFFFFF;
    display: none;
}

.header-comment-warper{
    height: 80%;
    overflow: auto;
}

.header-avatar{
    width: 4rem;
    height: 4rem;
    border-radius: .3rem;
    margin: .3rem;
}

.header-username{
    color: #333333;
}

.header-profile{
    position: absolute;
    margin-top: .2rem;
    left: 0;
    z-index: 1000;
    height: auto;
    width: 13rem;
    background-color: #FFFFFF;
    color: #000000;
    display: none;
}

.header-profile-link{
    padding: .4rem;
    font-size: .8rem;
    line-height: 1.4rem;
}

/* SIDEBAR STYLE */

.body-container{
    margin-top: 3.5rem;
    z-index: 10000;
    display: flex;
}

.sidebar{
    flex: 0 0 14rem;
    background-color: #404e67;
    color: #dcdcdc;
}

.sidebar-container{
    height: calc(100vh - 3.6rem);
    /* position: fixed; */
    right: 0;
    top: 3.5rem;
    z-index: 10000;
}

.sidebar-warper{
    padding: 1rem 0;
    overflow: auto;
}

.sidebar-warper::-webkit-scrollbar{
    display: none;
}

.sidebar-content{
    padding: 0 1rem;
    font-size: .9rem;
    margin-top: 1rem;
    color: #999999;
}

.sidebar-link{
    font-size: .9rem;
    text-decoration: none;
    margin-top: 1rem;
    padding: .4rem 1rem;
    display: block;
    outline: none;
    border: none;
    color: #dcdcdc;
    transition: all .3s;
}

.sidebar-link:hover{
    text-decoration: none;
    color: tomato;
}

.sidebar-link > i{
    width: 2rem;
    text-align: center;
}

.sidebar-group-link{
    font-size: .8rem;
    margin-top: 1rem;
    padding: .4rem 0;
    color: #dcdcdc;
}

.sidebar-group-link-active{
    border-right: tomato 3px solid;
}

.sidebar-group-link > .sidebar-dropdown{
    display: none;
    height: 0;
}

.sidebar-group-link-active > .sidebar-dropdown{
    height: auto;
    display: block;
}

.sidebar-dropdown-toggle {
    cursor: pointer;
    padding: .2rem 1rem;
    transition: all .3s;
}

.sidebar-dropdown-toggle:hover span {
    color: #F7F7F7;
}

.sidebar-dropdown-toggle .icon {
    width: 2rem;
    text-align: center;
}

.sidebar-dropdown-toggle .angel {
    float: left;
    padding: .4rem 0;
}

.sidebar-dropdown a,
button {
    padding: .2rem 1rem;
    display: block;
    text-decoration: none;
    background-color: inherit;
    outline: none;
    border: none;
    color: #dcdcdc;
    transition: all .3s;
}

.sidebar-dropdown a::before,
button::before {
    content: '»';
    margin: .8rem;
}

.sidebar-dropdown a:hover,
button:hover {
    color: tomato;
}

/* CARDS STYLE */

.boxs{
    margin-top: 40px;
}

.boxs-row{
    margin-bottom: 20px;
}

.box{
    margin-bottom: 20px;
}

/* FOOTER STYLE */

.main-body-container {
    background-color: #f3f3f3;
    margin: 1rem 0;
    border-radius: .25rem;
    padding: 1rem;
}

.main-body-container-header h5 {
    font-size: 1.5rem;
    font-weight: bold;
}

.main-body-container-header p {
    font-size: 1rem;
    color: #333333;
    opacity: 65%;
}

.body-content p {
    font-size: .9rem;
}
