@font-face {
    font-family: "Noto Sans Arabic";
    src: url(../fonts/Noto_Sans_Arabic/NotoSansArabic-Light.ttf) format('tff');
}

*{
    direction: rtl;
    text-align: right;
}

.bg-gray{
    background-color: #404E67;
    color: #dcdcdc;
}

.pointer{
    cursor: pointer;
}

@media only screen and (max-width: 767.98px){
    .header{
        display: block;
    }

    .sidebar-header{
        width: 100%;
    }

    .body-header{
        display: none;
        width: 100%;
    }
}
